DB_URL=jdbc:postgresql://localhost:5432/denguetrace_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
DDL_AUTO=update
SHOW_SQL=false

JWT_SECRET=ZGVuZ3VldHJhY2Utand0LXNlY3JldC1rZXktZm9yLWRldi1vbmx5LWNoYW5nZS1tZS0xMjM0NTY3ODkwYWJjZGVm
DNI_HASH_SECRET=ZG5pLWhhc2gtc2VjcmV0LWZvci1kZXZlbG9wbWVudC1vbmx5LWNoYW5nZS1tZS1hYmNkZWYxMjM0NTY3ODkw

CORS_ORIGINS=http://localhost:3000,http://localhost:5173
